OPENAI_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=SKALA
HUGGINGFACEHUB_API_TOKEN=
TAVILY_API_KEY=

LLM_MODEL=gpt-4.1-mini
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-0.6B
